<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjCT81RAQYJeyBaDU5gGoX072GKHVG3F0</string>
	<key>GCM_SENDER_ID</key>
	<string>554398395959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appUmiTest</string>
	<key>PROJECT_ID</key>
	<string>ume123-cad6f</string>
	<key>STORAGE_BUCKET</key>
	<string>ume123-cad6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554398395959:ios:ca1777d3d1aa9afb7a19b2</string>
</dict>
</plist>